.container{
  max-width: 300px !important;
  background: #73674e;
  margin-top: 10%;
  border-radius: 10px;
  overflow: auto;
  color: white;
}
h1{
  display: inline;
  /* word-wrap: break-word; */
  overflow-wrap: anywhere;
}
